/* CSS レイアウト */
body {
	text-align: center;
/*	margin: 0;
	padding: 0;
	border: 0;*/
	background-color: transparent;
}

#container {
	border-style: none solid solid solid;
	text-align: left;
	margin: 0px auto 0px auto;
	width: 1020px;
	padding: 0;
	background-color: #ffffff;
	font-family: メイリオ;
	border-width: medium;
	border-color: #C0C0C0;
}

#masthead {
	width: 1000px;
	text-align: left;
	margin: 0px auto 0px auto;
	height: 50px;
	overflow: hidden;
	padding: 0;
	border: 0;
	background-color: #ffffff;
}
#masthead_text {
	width: 800px;
	height: 40px;
	text-align: left;
	background-color: #ffffff;
	white-space: normal;
	vertical-align: bottom;
	text-indent: 10px;
	padding-top: 10px;
	padding-right: 4px;
	font-family: メイリオ;
	font-size: 24pt;
}

#masthead_text a{
	text-align: left;
	font-family: メイリオ;
	font-size: 24pt;
	text-decoration: none;
	color: #000000;
}

#top_nav_bar {
	margin: 5px auto 5px auto;
	background-color: #2b2b2b;
	height: 40px;
}
#top_nav {
	width: 1024px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #2b2b2b;
	margin-left: auto;
	margin-right: auto;
	height: 32px;
}

#top_nav ul{
	list-style:none;
}

#top_nav li{
	float: left;

}

#top_nav a {
	padding-top: 5px;
	width: 185px;
	height: 25px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	background-color: #2b2b2b;
	border-right: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: bottom;
	font-weight: bold;
	font-family: メイリオ;
	font-size: 12pt;	
}
#top_nav a:hover{
	background-color:#2c2c2c; 
}

#page_content {
	width: 980px;
	margin: 0;
	padding: 15px;
	background-color: #fff;
	font-family: メイリオ;
}

#footer {
	width: 100%;
	overflow: auto;
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: メイリオ;
	border: 0;
	text-align: center;
}


#page_content table {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12pt;
	color: #000;	
	margin-right: 25px;
	margin-left: 25px;
	border: 2px #2b2b2b solid;
	border-collapse:collapse;
}

#page_content td {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	border: 2px #2b2b2b solid;

}

#page_content li {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12pt;
	color: #000;	
	margin-right: 25px;
	margin-left: 25px;
}


